.Container {
    margin-top: 150px;
    height: 150px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contend{
    width: auto;
    margin-top: 150px;
}
h1{  margin-top: 150px;
    text-align: center;}
